{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 52);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <h3>Sourabh Kumar Patel</h3>
            <p class="lead" style="font-weight: 350;">Hi, I am Sourabh Kumar Patel. Currently Pursuing Bachelors in
                Computer Science.My Main Focus is on Machine Learning, Deep Learning and Artificial 
                Intelligence.I am Also
                Interested in Blockchain and Flutter App Development.</p>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:sourabhkumarpatel2011@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40" alt="sourabhpatel"></a> 
                        sourabhkumarpatel2011@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/sourabh-kumar-patel-aa6839184'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40" alt="sourabhpatel"></a> 
                sourabhkumarpatel<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <h3>Pranav Agrawal</h3>
            <p class="lead" style="font-weight: 350;">Hi, I am Pranav Agrawal currently pursuing bachelors in 
                Computer Science Engineering from SGSITS, Indore. My areas of interest are Cloud computing 
                and Deep Learning. 
                I love coding, taking challenges and solving problems.
            </p>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:pranavagrawal179@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40" alt="pranavagrawal"></a> 
                        pranavagrawal179@gmail.com<br><br>
                <a target="_blank" href='www.linkedin.com/in/pranav-agrawal-5994161a0'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40" alt="pranavagrawal"></a> 
                pranavagrawal<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <h3>Nishant Choudhary</h3>
            <p class="lead" style="font-weight: 350;">Hi , I am Nishant Choudhary currently pursuing B.Tech in 
                Computer Science and Engineering from SGSITS, Indore. My area of interest is ML, AI and backend 
                developement. I like playing chess ,cricket 
                and watching debates on current social issues
            </p>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:nishant360choudhary@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40" alt="nishantchoudhary"></a> 
                        nishant360choudhary@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/nishant-choudhary-7460621a0'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40" alt="nishantchoudhary"></a> 
                nishantchoudhary<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <h3>Siddarth Vaidya</h3>
            <p class="lead" style="font-weight: 350;">Hi, I am Siddharth Vaidya, currently pursuing Bachelors in 
                Computer Engineering from SGSITS, Indore . My interest lies in field of frontend development and 
                machine learning. I am an chess buff and I love problem solving. 
            </p>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:siddhartvaidya164@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40" alt="siddarthvaidya"></a> 
                        siddhartvaidya164@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/siddharth-vaidya-a870ab1a1/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40" alt="siddarthvaidya"></a> 
                siddarthvaidya<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <h3>Nikhil Kumar Chandwani</h3>
            <p class="lead" style="font-weight: 350;">Hi, I am Nikhil Kumar Chandwani final year undergrad from 
                SGSITS, Indore. My branch is Computer Science Engineering. Last summer I did an internship with 
                Deutsche bank as a technology analyst intern. I like problem solving and love to learn new things.
            </p>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:nikhilchandwani059@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40" alt="nikhilchandwani"></a> 
                        nikhilchandwani059@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/nikhil-kumar-chandwani-2b23a9172/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40" alt="nikhilchandwani"></a> 
                nikhilkumarchandwani<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}